.addthis_sharing_toolbox {
  position: fixed;
  bottom: .5rem;
  right: .5rem;
  padding: .375rem;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-size: 0;
}

@media (max-width: 480px) {
  .addthis_sharing_toolbox {
    -webkit-transform: scale(.7);
    transform: scale(.7);

    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
