#carbonads {
  position: fixed;
  bottom: .5rem;
  left: .5rem;
  max-width: 300px;
  font-size: 12px;
  background-color: #fff;
  padding: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
#carbonads img {
  border: 0;
}
#carbonads a {
  text-decoration: none;
  color: #333;
}
#carbonads a:hover {
  text-decoration: underline;
}
#carbonads .carbon-img {
  float: left;
}
#carbonads .carbon-text {
  margin-left: 140px;
  display: block;
  padding-bottom: 5px;
}
#carbonads .carbon-poweredby {
  color: #888;
  display: block;
  margin-left: 140px;
  font-size: 10px;
}
@media (max-width: 800px), (max-height: 640px) {
  #carbonads {
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    -ms-transform: scale(.75);
    -o-transform: scale(.75);
    transform: scale(.75);

    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
@media (max-width: 480px), (max-height: 320px) {
  #carbonads {
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);

    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
