<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML5 Deck of Cards</title>
    <link href="base.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Ubuntu+Condensed" rel="stylesheet" type="text/css">
  </head>
  <body>


    <div class="players-box" id="players-form">
      <span class="title">Add new player</span>
      <form @submit.prevent="onSubmit">
        <input type="text" placeholder="Name" v-model="name">
        <input type="number" placeholder="Stack size" v-model="stack">
        <input type="submit" value="Submit">
      </form>
    </div>


    <div id="table" class="table">
      <div v-for="(player, i) in players">
        <div class="player">
          {{ player.name }} - {{ player.stack }}$ 
          <button class="delete" @click="removePlayer(i)">X</button>
        </div>
      </div>
    </div>


    <div id="container"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../dist/deck.js"></script>
    <script src="script.js"></script>
  </body>
</html>